@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: "Sigmar", cursive;
  background: beige;
}

.container {
  border: 10px solid turquoise;
  border-radius: 10px;

  height: 100vh;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: gray;
}

.header {
  border: 1px solid black;

  height: 15vh;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  background: rgb(62, 15, 156);
  color: #fb009f;
}

.title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

#title {
  font-size: 7vh;

  height: 6vh;
  margin-bottom: 2vh;
}

#restart-btn {
  font-family: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  outline: none;
  font-size: 2vh;
  cursor: pointer;
}

#winner {
  font-size: 2rem;
  width: 75%;
  background-color: red;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

#numPlayers {
  width: 75%;
  background-color: red;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

#playerBanner {
  width: 75%;
  background-color: red;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

#input-num {
  width: 8vw;
  display: flex;
}

.input-name {
  width: 8vw;
  display: flex;
}

#close-btn {
  width: 8vw;
  height: 3vh;
  font-family: inherit;
  cursor: pointer;
}

.gamecontainer {
  border: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  background-color: yellow;
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: inherit;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

.square {
  border: 1px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: red;
}

@media (max-width: 500px) {
  .container {
    width: 75%;
  }

  #title {
    font-size: 6vh;

    height: 3vh;
    margin-bottom: 2vh;
  }

  #restart-btn {
    width: 12vw;
    font-size: 0.5rem;
  }

  .gameboard {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}

@media (max-width: 450px) {
  .container {
    width: 75%;
  }

  #title {
    font-size: 1.3rem;

    margin-bottom: 0.5rem;
  }

  #restart-btn {
    width: 4rem;
    font-size: 0.5rem;
  }

  .gameboard {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}

@media (max-width: 300px) {
  .container {
    width: 75%;
  }

  #title {
    font-size: 0.95rem;

    margin-bottom: 0.5rem;
  }

  #restart-btn {
    width: 3rem;
    font-size: 0.25;
  }

  .gameboard {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}
