@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: "Sigmar", cursive;
  background: beige;
}

.container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(62, 15, 156);
  color: #fb009f;
}

#title {
  font-size: 50px;
  margin-top: 1rem;
}

#restart-btn {
  font-family: inherit;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  font-size: 0.75rem;
  cursor: pointer;
}

#winner {
  height: 15%;
  width: 60%;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 50px;
}

.gameboard {
  background-color: yellow;
  height: 600px;
  width: 600px;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

.square {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;

  color: red;
  cursor: pointer;
}

.row1 {
  border-bottom: 2px solid black;
}

.row2 {
  border-bottom: 2px solid black;
}

#one,
#four,
#seven {
  border-right: 2px solid black;
  border-left: 2px solid black;
}
