@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: "Sigmar", cursive;
  background: beige;
}

.container {
  border: 10px solid turquoise;
  border-radius: 10px;

  height: 100vh;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.header {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(62, 15, 156);
  color: #fb009f;
}

.playerOneBox {
  width: 20%;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  font-size: 30px;
}

.playerTwoBox {
  width: 20%;
  display: flex;
  justify-content: right;
  padding-right: 10px;
  font-size: 30px;
}

.title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

#title {
  font-size: 50px;
  margin-top: 2px;
  margin-bottom: 5px;
  height: 40%;
}

#restart-btn {
  font-family: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 30%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  outline: none;
  font-size: 0.75rem;
  cursor: pointer;
}

#winner {
  /* height: 15%; */
  height: fit-content;
  width: 60%;
  border-radius: 20px;
  position: relative;
  top: 300px;
  left: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 50px;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

#numPlayers {
  /* height: 15%; */
  height: fit-content;
  width: 60%;
  border-radius: 20px;
  position: relative;
  top: 300px;
  left: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: red;
  color: white;
  font-size: 20px;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

#input-num {
  width: 50px;
  display: flex;
  
}

.input-name{
  width: 50px;
  display: flex;
}

#close-btn {
  width: 50px;
  height: 20px;
  font-family: inherit;
}

.gameboard {
  background-color: yellow;
  height: 600px;
  width: 600px;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);

  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

.square {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;

  color: red;
  cursor: pointer;
}

.row1 {
  border-bottom: 2px solid black;
}

.row2 {
  border-bottom: 2px solid black;
}

#one,
#four,
#seven {
  border-right: 2px solid black;
  border-left: 2px solid black;
}
